{extend name="public:base" /}
{block name="css"}
<link href="__PLUGINS__/js/layui/css/layui.css" rel="stylesheet">
<style>
    td>img{
        width:50px;
        height:50px;
    }
    .form-search .layui-form-label{
        width: auto;
    }
    .form-search button{
        height: 38px;
        margin-bottom: 5px;
    }
    .layui-form-item .layui-input-inline{
        width: 150px;
    }
     .layui-form-select{
        width: 10% !important;
        float:left !important;
         margin-right:10px !important;
    }
</style>
{/block}
{block name="search"}
<div class="layui-form form-search">
    <input type="text" name="number"  autocomplete="off" class="layui-input" style="width: 20%;float:left;margin-right: 10px;" placeholder="请输入创客编号关键字" value="{$Request.param.number}">
    <input type="text" name="name"  autocomplete="off" class="layui-input" style="width: 20%;float:left;margin-right: 10px;" placeholder="请输入创客姓名关键字" value="{$Request.param.name}">
    <input type="text" name="cart"  autocomplete="off" class="layui-input" style="width: 20%;float:left;margin-right: 10px;" placeholder="请输入创客身份证号码" value="{$Request.param.cart}">
    {:searchButton('查询')}
</div>
{/block}
{block name="menu"}创客委托书管理{/block}
{block name="table-head"}
    <tr>
        <th>创客编号</th>
        <th>创客姓名</th>
        <th>手机号码</th>
        <th>身份证号码</th>
        <th>签署时间</th>
        <th>委托书</th>
    </tr>
{/block}

{block name="table-body"}

{if condition="!$contract->count()"}
<tr>
    <td colspan="10" class="text-center">没有数据</td>
</tr>
{else/}
{foreach $contract as $key => $banner}
<tr>
    <td class="contract">{$banner->number}</td>
    <td>{$banner->name}</td>
    <td>{$banner->mobile}</td>
    <td>{$banner->cart_id}</td>
    <td>{$banner->created_at}</td>
    <td class="contract" data-flowid="{$banner->flowid}" style="color:#01AAED;cursor:pointer;">
        查看下载
    </td>
</tr>
{/foreach}
{/if}
<script type="text/javascript" src="__PLUGINS__/js/layui/layui.js"></script>
<script>
    layui.use(['form','layer','upload'],function () {
        var layer = layui.layer,form = layui.form,upload = layui.upload;
        $('.pass').click(function () {
            id = $(this).attr('data');
            url = $(this).attr('data-url')
            var index = layer.confirm('确认通过？', {
                btn: ['确认','取消'] //按钮
            }, function(){
                layer.close(index)
                $.post(url, {id:id}, function (response) {
                    if (!response.code) {
                        warning(response.msg)
                    } else {
                        success(response.msg)
                        setTimeout(function(){
                            window.location.href = response.url
                        }, response.wait * 1000);
                    }
                })
            });
        })
        $('.refuse').click(function () {
            id = $(this).attr('data');
            url = $(this).attr('data-url');
            layer.prompt({
                formType: 2,
                value: '',
                title: '请输入拒绝理由',
                area: ['300px', '200px'] //自定义文本域宽高
            }, function(value, index, elem){
                layer.close(index);
                $.post(url, {id:id,msg:value}, function (response) {
                    if (!response.code) {
                        warning(response.msg);
                    } else {
                        success(response.msg);
                        setTimeout(function(){
                            window.location.href = response.url
                        }, response.wait * 1000);
                    }
                })
            });

        })

        //查看委托书
        $('.contract').click(function(){
            var dataFlowid = $(this).attr("data-flowid");
            $.ajax({
                type: 'post',
                url: '/admin/contract/getwts',
                data: {
                    flowid:dataFlowid
                },
                success: function(response){
                    if (!response.code) {
                        warning(response.msg);
                    }else{
                        window.location.href=response.data;
                    }
                }
            });
        });

        var form,province,city,district;
        var select_province = '{$Request.param.province}';
        var select_city = '{$Request.param.city}';
        var select_district = '{$Request.param.district}';
        var is_first_select = true;
        //获取地区数据
        $.get("__JSON__/district.json",function(data){
            province = data.result[0];
            city = data.result[1];
            district = data.result[2];
            get_province();
        });
        //省份切换事件
        form.on('select(province)',function (data) {
            var id = $(data.elem).find("option:selected").attr("data-id");
            if(id == undefined){
                $("#city").html('');
                $("#district").html('');
                form.render('select');
                return ;
            }
            toggle_province($('#province option:selected').data('id'));
        });
        //城市切换事件
        form.on('select(city)',function (data) {
            var id = $(data.elem).find("option:selected").attr("data-id");
            var provinceid = $(data.elem).find("option:selected").attr("data-provinceid");
            toggle_city(id,provinceid);
        });
        //获取省份
        function get_province(){
            let select_index = 0;
            for (let x in province) {
                let selected = '';
                if(is_first_select && province[x].fullname == select_province){
                    selected = 'selected';
                    select_index = x;
                }
                $("#province").append('<option ' + selected + ' data-id="' + x + '" value="' + province[x].fullname + '">' + province[x].fullname + '</option>');
            }
            form.render('select');
            if(select_province != ''){
                toggle_province(select_index);
            }
        }
        //切换省份
        function toggle_province(id) {
            $("#city").html('');
            $("#district").html('');
            let i = province[id].cidx[0];
            if(!city[i].hasOwnProperty('cidx')){
                $("#city").append('<option data-id = "-1" data-provinceid="' + i + '"  value="' + province[id].fullname + '">' + province[id].fullname + '</option>');
                toggle_city("-1",id);
                return ;
            }
            let select_index = i;
            for(;i<=province[id].cidx[1];i++){
                let selected = '';
                if(is_first_select &&  city[i].fullname == select_city){
                    selected = 'selected';
                    select_index = i;
                }
                $("#city").append('<option ' + selected + ' data-id="' + i + '"  value="' + city[i].fullname + '">' + city[i].fullname + '</option>');
            }
            toggle_city(select_index);
            form.render('select');
        }
        //切换市区
        function toggle_city(id,provinceid) {
            $("#district").html('');
            if(id == "-1"){
                let i = province[provinceid].cidx[0];
                for(;i<=province[provinceid].cidx[1];i++){
                    let selected = '';
                    if(is_first_select &&  city[i].fullname == select_district){
                        selected = 'selected';
                    }
                    $("#district").append('<option ' + selected + ' data-id="' + i + '"  value="' + city[i].fullname + '">' + city[i].fullname + '</option>');
                }
            }else{
                let i = city[id].cidx[0];
                for(;i<=city[id].cidx[1];i++){
                    let selected = '';
                    if(is_first_select &&  district[i].fullname == select_district){
                        selected = 'selected';
                    }
                    $("#district").append('<option ' + selected + ' data-id="' + i + '"  value="' + district[i].fullname + '">' + district[i].fullname + '</option>');
                }
            }
            is_first_select = false;
            form.render('select');
        }
    });
</script>
{/block}
{block name="paginate"}
{$contract->render()|raw}

{/block}
