{extend name="public:base" /}
{block name="css"}
<link href="__PLUGINS__/js/layui/css/layui.css" rel="stylesheet">
<style>
    td>img{
        width:50px;
        height:50px;
    }
    .form-search .layui-form-label{
        width: auto;
    }
    .form-search button{
        height: 38px;
        margin-bottom: 5px;
    }
    .layui-form-item .layui-input-inline{
        width: 150px;
    }
</style>
{/block}

{block name="search"}
<div class="form-group layui-form form-search">
    <div class="layui-inline">
        <label class="layui-form-label">结算单号</label>
        <div class="layui-input-inline">
            <input type="text" name="number"  autocomplete="off" class="layui-input" value="{$Request.param.number}">
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label">付款企业</label>
        <div class="layui-input-inline">
            <input type="text" name="name"  autocomplete="off" class="layui-input" value="{$Request.param.name}">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">选择框</label>
        <div class="layui-input-block">
            <select name="status" lay-verify="required">
                <option value=""></option>
                <option value="9">待收款</option>
                <option value="10">已收款</option>
            </select>
        </div>
    </div>

    <div class="layui-inline">
        <div class="layui-input-inline">
            {:searchButton()}
        </div>
    </div>
</div>
{/block}
{block name="menu"}企业应付{/block}
{block name="table-head"}
    <tr>
        <th>结算单号</th>
        <th>付款企业</th>
        <th>业务佣金</th>

        <th>技术服务费支付方</th>
        <th>技术服务费</th>
        <th>支付总额</th>
        <th>收款状态</th>
        <th>操作</th>

    </tr>
{/block}

{block name="table-body"}

{if condition="!$achievement->count()"}
<tr>
    <td colspan="10" class="text-center">没有数据</td>
</tr>
{else/}
{foreach $achievement as $key => $banner}
<tr>
    <td><a href="{:url('Achievement/detail',['id'=>$banner->id])}" style="color: blue">{$banner->number}</a></td>
    <td>{$banner->name}</td>
    <td>{$banner->commission}</td>

    <td>{if $banner->service_pay_type==1} 企业支付 {else}创客支付{/if}</td>

    <td>{$banner->service_money}</td>
    <td>{$banner->pt_money}</td>
    <td>
    {if $banner['status']==9}
        待收款
    {else}
        已收款
    {/if}
    </td>

    <td>
        {if $banner['status']==9}
           <a href="{:url('Achievement/shukuang',['id'=>$banner->id])}">确认收款</a>
        {/if}
           <a href="{:url('Achievement/payvoucher',['id'=>$banner->id])}">查看付款凭证</a>
    </td>

</tr>
{/foreach}
{/if}
<script type="text/javascript" src="__PLUGINS__/js/layui/layui.js"></script>
<script>
    layui.use(['form','layer'],function () {
        var layer = layui.layer,form = layui.form;
        $('.pass').click(function () {
            id = $(this).attr('data');
            url = $(this).attr('data-url')
            var index = layer.confirm('确认通过？', {
                btn: ['确认','取消'] //按钮
            }, function(){
                layer.close(index)
                $.post(url, {id:id}, function (response) {
                    if (!response.code) {
                        warning(response.msg)
                    } else {
                        success(response.msg)
                        setTimeout(function(){
                            window.location.href = response.url
                        }, response.wait * 1000);
                    }
                })
            });
        })
        $('.refuse').click(function () {
            id = $(this).attr('data');
            url = $(this).attr('data-url');
            layer.prompt({
                formType: 2,
                value: '',
                title: '请输入拒绝理由',
                area: ['300px', '200px'] //自定义文本域宽高
            }, function(value, index, elem){
                layer.close(index);
                $.post(url, {id:id,msg:value}, function (response) {
                    if (!response.code) {
                        warning(response.msg);
                    } else {
                        success(response.msg);
                        setTimeout(function(){
                            window.location.href = response.url
                        }, response.wait * 1000);
                    }
                })
            });

        })

        var form,province,city,district;
        var select_province = '{$Request.param.province}';
        var select_city = '{$Request.param.city}';
        var select_district = '{$Request.param.district}';
        var is_first_select = true;
        //获取地区数据
        $.get("__JSON__/district.json",function(data){
            province = data.result[0];
            city = data.result[1];
            district = data.result[2];
            get_province();
        });
        //省份切换事件
        form.on('select(province)',function (data) {
            var id = $(data.elem).find("option:selected").attr("data-id");
            if(id == undefined){
                $("#city").html('');
                $("#district").html('');
                form.render('select');
                return ;
            }
            toggle_province($('#province option:selected').data('id'));
        });
        //城市切换事件
        form.on('select(city)',function (data) {
            var id = $(data.elem).find("option:selected").attr("data-id");
            var provinceid = $(data.elem).find("option:selected").attr("data-provinceid");
            toggle_city(id,provinceid);
        });
        //获取省份
        function get_province(){
            let select_index = 0;
            for (let x in province) {
                let selected = '';
                if(is_first_select && province[x].fullname == select_province){
                    selected = 'selected';
                    select_index = x;
                }
                $("#province").append('<option ' + selected + ' data-id="' + x + '" value="' + province[x].fullname + '">' + province[x].fullname + '</option>');
            }
            form.render('select');
            if(select_province != ''){
                toggle_province(select_index);
            }
        }
        //切换省份
        function toggle_province(id) {
            $("#city").html('');
            $("#district").html('');
            let i = province[id].cidx[0];
            if(!city[i].hasOwnProperty('cidx')){
                $("#city").append('<option data-id = "-1" data-provinceid="' + i + '"  value="' + province[id].fullname + '">' + province[id].fullname + '</option>');
                toggle_city("-1",id);
                return ;
            }
            let select_index = i;
            for(;i<=province[id].cidx[1];i++){
                let selected = '';
                if(is_first_select &&  city[i].fullname == select_city){
                    selected = 'selected';
                    select_index = i;
                }
                $("#city").append('<option ' + selected + ' data-id="' + i + '"  value="' + city[i].fullname + '">' + city[i].fullname + '</option>');
            }
            toggle_city(select_index);
            form.render('select');
        }
        //切换市区
        function toggle_city(id,provinceid) {
            $("#district").html('');
            if(id == "-1"){
                let i = province[provinceid].cidx[0];
                for(;i<=province[provinceid].cidx[1];i++){
                    let selected = '';
                    if(is_first_select &&  city[i].fullname == select_district){
                        selected = 'selected';
                    }
                    $("#district").append('<option ' + selected + ' data-id="' + i + '"  value="' + city[i].fullname + '">' + city[i].fullname + '</option>');
                }
            }else{
                let i = city[id].cidx[0];
                for(;i<=city[id].cidx[1];i++){
                    let selected = '';
                    if(is_first_select &&  district[i].fullname == select_district){
                        selected = 'selected';
                    }
                    $("#district").append('<option ' + selected + ' data-id="' + i + '"  value="' + district[i].fullname + '">' + district[i].fullname + '</option>');
                }
            }
            is_first_select = false;
            form.render('select');
        }
    });
</script>
{/block}
{block name="paginate"}
{$achievement->render()|raw}

{/block}
